*{
	margin : 0px;
	padding: 0px;
}
body{
	font-family: 'Open Sans Condensed', sans-serif;
	background: url(../image/pubg1.jpg);
	background-repeat : no-repeat;
	background-size: cover;  
}
.container{

	
	
	width: 650px;
	margin: 20% auto;
}
.login-section{
	background:#031219cf;
	padding: 30px;

}
.login-section img{
	margin: 0 auto;
	display: block;


}

.login-section h3{
	text-align:center;
	color:#deb906;
	font-size: 30px;
	margin:10px 0px;
	text-transform:capitalize


}

.form-control{
	width:95%;
	height: 25px;
	padding:5px;
	margin-bottom:12px

}

.submit-btn{
	display:block;
	margin:0 auto;
	background:#bfa10c;
	color:black;
	padding: 6px 15px;
	border:5px;
	border:#2196F3;
	text-transform:uppercase;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;

}
.submit-btn:hover{
	box-shadow:2px 3px 4px #d69c15c7;
	cursor: pointer;
}

.Sign-1{
	color:#deb906; 
}
.Reset-1{
	color:#deb906;
}